body {
	font-family: Lucida Sans,Helvetica,Arial,Verdana,sans-serif;
	font-size: 85%;
	color: #555;
	background-color: #F2F2F2;
}

h1,h2,h3 {
	margin: 1em 0 0 0;
	font-weight: normal;
	color: #333;
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type {
	margin-top: 0;
}

h1 {
	margin-bottom:.5em;
}

h3 {
	xcolor: #333;
	font-weight: bold;
}

a {
	color: #1b9aff;
}

p {
	margin-top: .7em;
}

#layout {
	width: 850px;
	margin: auto;
}

#l {
	width: 200px;
	float: left;
	margin: 3em 0 3em 0;
}

#r {
	width: 590px;
	float: right;
	margin: 3em 0 3em 0;
	background-color: #fff;
	padding: 25px 25px 25px;
	border-radius: 3px;
}

#ftr {
	padding: 3em 0 2em 0;
	color: #999;
	font-size: 90%;
}

#dataloft a {
	display: inline-block;
	background: #4baefe;
	color: #fff;
	padding: 1.3em 2.3em 1.3em 2.3em;
	font-size: 140%;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 10px;
}

#intro {
	font-size: 130%;
	margin: 45px 0 0 0;
}

#intro a {
	color: #555;
}

#menu {
	margin: 40px 0 40px 0;
}

#menu a {
	display: block;
	color: #555;
	font-size: 140%;
	margin-top: .3em;
}

#menu span {
	display: block;
	color: #333;
	font-size: 140%;
	margin-top: .3em;
}

#l>a:last-of-type {
	font-size: 130%;
	color: #1b9aff;
}

#i {
	margin: 0 0 30px 0;
}



