.breadcrumb > li+li.un-styled:before {
	content: ''
}

.row-vertical-center {
	vertical-align: middle !important;
}

.photo-album-title {
	background: rgba(0, 0, 0, 0.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000')";
	color: white;
	position: absolute;
	top: 3px;
	width: 253px;
	margin-top: 168px;
	text-align: left;
	padding: 2px;
	line-height: 14px;
}

.photo-album-title .photo-title {
	margin: 2px;
}

#upload_mage {
    text-decoration: none;
}

.file-upload-link {
	cursor: pointer;
	opacity: 0.01;
	position: absolute;
	z-index: 200;
	padding: 26px;
	margin: -1.3em;
	width: 230px;
}

.image-gallery {
    width: auto;
}

.img-responsive-gallery {
	max-width: 100%;
	height: auto;
}

.image-gallery-modal {
	text-align: center;
}

.modal-body {
	min-height: 100px;
}

.image-gallery-albums {
	display: block;
	height: 198px;
}

.album-gallery-edit {
	margin: 30px;
	display: block;
}

.album-gallery-edit.no-image {
	min-height: 200px;
	min-width: 242px;
}

#alert-message {
	display: none;
}