.breadcrumb > li+li.un-styled:before {
	content: ''
}

.photo-album-title {
	background: rgba(0, 0, 0, 0.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000')";
	color: white;
	position: absolute;
	top: 3px;
	width: 251px;
	margin-top: 168px;
	text-align: left;
	padding: 2px;
	line-height: 14px;
}

.photo-album-title .photo-title {
	margin: 2px;
}

.file-upload-link {
	cursor: pointer;
	opacity: 0.01;
	position: relative;
	z-index: 200;
	right: -2em;
	margin: -1.3em;
}

.image-gallery {
	width: 260px;
	height: 170px !important;
}

.img-responsive-gallery {
	max-width: 100%;
	height: auto;
}

.image-gallery-modal {
	text-align: center;
}

.modal-body {
	min-height: 100px;
}